In [79]:
library(gtools)

ERROR: Error in library(gtools): there is no package called ‘gtools’

In [13]:
dataframe <- data.frame('account_id'=c(1,1,1,2,2,3,4,5), 'item_id'=c(1,2,3,2,3,1,4,5), 'rating'=c(3,3,1,1,1,3,1,2))

In [197]:
## split the dataframe into separate dataframes based upon the account
d <- split(dataframe,dataframe$account_id)

In [203]:
d

$`1`
  account_id item_id rating
1          1       1      3
2          1       2      3
3          1       3      1

$`2`
  account_id item_id rating
4          2       2      1
5          2       3      1

$`3`
  account_id item_id rating
6          3       1      3

$`4`
  account_id item_id rating
7          4       4      1

$`5`
  account_id item_id rating
8          5       5      2

In [214]:
# Create null values for the items that have not been rated yet for each account dataframe
## account one
acct_one <- data.frame('account_id'=c(1,1),'item_id'=c(4,5),'rating'=c('NA','NA'),stringsAsFactors=FALSE)
acct_one_final<-rbind(d[[1]],acct_one)
## account two
acct_two_pre <- data.frame('account_id'=c(2),'item_id'=c(1),'rating'=c('NA'),stringsAsFactors=FALSE)
acct_two_post<- data.frame('account_id'=c(2,2),'item_id'=c(4,5),'rating'=c('NA','NA'),stringsAsFactors=FALSE)
acct_two_final <-rbind(acct_two_pre,d[[2]],stringsAsFactors=FALSE)
acct_two_final <-rbind(acct_two_final,acct_two_post)
## account three
acct_three_post <- data.frame('account_id'=c(3,3,3,3),'item_id'=c(2,3,4,5),'rating'=c('NA','NA','NA','NA')
                              ,stringsAsFactors=FALSE)
acct_three_final <- rbind(d[[3]],acct_three_post)
## account four
acct_four_pre <- data.frame('account_id'=c(4,4,4),'item_id'=c(1,2,3),'rating'=c('NA',"NA",'NA'),
                            stringsAsFactors=FALSE)
acct_four_post <- data.frame('account_id'=c(4),'item_id'=c(5),'rating'=c('NA'),stringsAsFactors=FALSE)
acct_four_final <- rbind(acct_four_pre,d[[4]])
acct_four_final <- rbind(acct_four_final,acct_four_post)
## Account five
acct_five_pre <- data.frame('account_id'=c(5,5,5,5),'item_id'=c(1,2,3,4),'rating'=c('NA',"NA",'NA','NA'),
                            stringsAsFactors=FALSE)
acct_five_final <-rbind(acct_five_pre,d[[5]])

In [229]:
## create a new dataframe to add in the ratings for each account
munged_df <- data.frame('item1'=integer(),'item2'=integer(),'item3'=integer(),'item4'=integer(),'item5'=integer())

In [230]:
## add in ratings for account one
munged_df[nrow(munged_df)+1,] <- c(acct_one_final[1,3],acct_one_final[2,3],
                                   acct_one_final[3,3],acct_one_final[4,3],acct_one_final[5,3])
## add in ratings for account two
munged_df[nrow(munged_df)+1,] <- c(acct_two_final[1,3],acct_two_final[2,3],
                                   acct_two_final[3,3],acct_two_final[4,3],acct_two_final[5,3])
## add in ratings for account three
munged_df[nrow(munged_df)+1,] <- c(acct_three_final[1,3],acct_three_final[2,3],
                                   acct_three_final[3,3],acct_three_final[4,3],acct_three_final[5,3])
## add in ratings for account four
munged_df[nrow(munged_df)+1,] <- c(acct_four_final[1,3],acct_four_final[2,3],
                                   acct_four_final[3,3],acct_four_final[4,3],acct_four_final[5,3])
## add in ratings for account five
munged_df[nrow(munged_df)+1,] <- c(acct_five_final[1,3],acct_five_final[2,3],
                                   acct_five_final[3,3],acct_five_final[4,3],acct_five_final[5,3])

In [231]:
munged_df

  item1 item2 item3 item4 item5
1 3     3     1     NA    NA
2 NA    1     1     NA    NA
3 3     NA    NA    NA    NA
4 NA    NA    NA    1     NA
5 NA    NA    NA    NA    2