In [79]:
library(gtools)

ERROR: Error in library(gtools): there is no package called ‘gtools’

In [13]:
dataframe <- data.frame('account_id'=c(1,1,1,2,2,3,4,5), 'item_id'=c(1,2,3,2,3,1,4,5), 'rating'=c(3,3,1,1,1,3,1,2))

In [14]:
dataframe[dataframe$account_id == 1,]

  account_id item_id rating
1 1          1       3
2 1          2       3
3 1          3       1

In [21]:
d <- split(dataframe,dataframe$account_id)

In [78]:
d[1]

$`1`
  account_id item_id rating
1          1       1      3
2          1       2      3
3          1       3      1

In [80]:
acct_one <- data.frame('account_id'=c(1,1),'item_id'=c(4,5),'rating'=c('NA','NA'))

d[1]<- rbind(d[1][,,acct_one)

ERROR: Error in rbind(deparse.level, ...): numbers of columns of arguments do not match

In [81]:
acct_one

  account_id item_id rating
1 1          4       NA
2 1          5       NA

In [ ]:
> newRow <- data.frame(Sex=’F’,Bwt=2.1,Hwt=8.1)

>Cats <- rbind(Cats,newRow)

In [ ]:
d[1][nrow(d[1])+1, ]<- c(1,5,'NA')

In [54]:
munged_df <- data.frame('item1'=integer(),'item2'=integer(),'item3'=integer(),'item4'=integer(),'item5'=integer())

In [50]:
row.names(munged_df)<-1

ERROR: Error in `row.names<-.data.frame`(`*tmp*`, value = 1): invalid 'row.names' length

In [55]:
munged_df

     item1 item2 item3 item4 item5

In [58]:
munged_df[nrow(munged_df)+1,] <- c(3,3,1,'NA','NA')

In [59]:
munged_df

  item1 item2 item3 item4 item5
1 3     3     1     NA    NA

In [ ]:
teachers[nrow(teachers) + 1, ] <- c( "ted", 50)